#nav-bar {
    background-color: #000000;
}

#welcome-screen {
    background-image: url("/img/logo/logo2.jpg");
}

#title-logo {
    color: white;
}

#up {
    background: rgba(165, 165, 165, 0.6);
    color: rgba(255, 255, 255);
}

.section-titles {
    color: white;
    background-color: #000000;
}

.area-of-products-sold {
    background-color: #585858;
}

.commodity-card {
    background-color: rgb(170, 170, 170);
}

#basket {
    background: rgb(170, 170, 170);
    border: 1px solid black;
}