#nav-bar {
    background-color: #0D345D;
}

#welcome-screen {
    background-image: url("/img/logo/logo1.webp");
}

#title-logo {
    color: #0a7116;
}

#up {
    background: rgba(165, 165, 165, 0.6);
    color: rgba(255, 255, 255);
}

.section-titles {
    color: white;
    background-color: #0D345D;
}

.area-of-products-sold {
    background-color: #eaeaea;
}

.commodity-card {
    background-color: white;
}

#basket {
    background: #F8F7F3;
    border: 1px solid black;
}